.mainInicio{
    margin: 0 auto;
    width: 90vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.mainInicio__carousel {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
