/*main productos*/

.main__productos{
    width: 90vw;
    padding: 1rem;
    margin: 0 auto;
    height:auto;
    background:linear-gradient(to left, rgba(218, 214, 214, 0.63), rgba(163, 163, 163, 0.63));
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}   
.sectionCard{
    margin: .5rem auto;
    padding: 1.5rem;
    background-color: rgb(190, 190, 190);
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    align-content: center;
}
.sectionCardImage{
    margin: 2rem;
    background-color:rgb(99, 96, 91);
    width: 100px;
    height: 100px;
    background-image: url(../imagenes/granos-de-cafe.png);
    background-size:50px;
    transform: scale(1,1);
    transition: transform background-color 1s;
}

.sectionCardImage:hover{
    transform: scale(2,2);
}
.sectionCardH3{
    padding-top:1rem;
    margin: 3rem 0 1rem;
    height: 4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content:flex-end;
}
.sectionCardTexto{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;

}
.comprarBoton{
    background-color:rgb(99, 96, 91);
}
/* fin main productos */